# Build
build/
.pio/
.pioenvs/
.piolibdeps/
cmake-build-*/

# Firmware binaries
*.elf
*.bin
*.hex
*.uf2
*.map

# IDE
.idea/
.vscode/
compile_commands.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python
__pycache__/
*.pyc